@using DigAccess.Models.UserAdministrator.License
@model LicenseDetailsViewModel

<h1>@Model.BlindUser.FirstName @Model.BlindUser.MiddleName @Model.BlindUser.LastName</h1>

<h3>@Model.DateFrom</h3>

<h3>@Model.MACAddress</h3>

<h3>@Model.IsActive</h3>

<h3>@Model.DateOfActivation</h3>

<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-dark"><h5>Изтриване</h5></a>
