@model DigAccess.Models.BlindUser.BlindUserDetailsViewModel

<h3>@Model.FirstName</h3>
<h3>@Model.MiddleName</h3>
<h3>@Model.LastName</h3>
<h3>@Model.PersonalId</h3>
<h3>@Model.BirthDate</h3>
<h3>@Model.City</h3>
