@model ICollection<DigAccess.Models.BlindUser.BlindUserViewModel>
@{
    ViewData["Title"] = "Потребители";
}
<div class="d-flex">
    <div class="p-2 w-100">
        <h2>Потребители</h2>
    </div>
    <div class="p-2 flex-shrink-1">
        <a asp-action="Add" class="btn btn-dark"><h5>+</h5></a>
    </div>
</div>
@if (Model.Count == 0)
{
<h4>Няма потребители.</h4>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>Първо име</th>
            <th>Бащино име</th>
            <th>Фамилия</th>
            <th>Град</th>
            <th>Дата на раждане</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blindUser in Model)
        {
            <tr>
                <td>@blindUser.FirstName</td>
                <td>@blindUser.MiddleName</td>
                <td>@blindUser.LastName</td>
                <td>@blindUser.City</td>
                <td>@blindUser.BirthDate</td>
                <td>
                    <div class="p-2 flex-shrink-1">
                        <a asp-action="Details" asp-route-id="@blindUser.Id" class="btn btn-dark"><h5>Опции</h5></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
}
