@using DigAccess.Models.BlindUser
@model BlindUserViewPageModel
@{
    ViewData["Title"] = "Потребител";
}
<div id="carouselExample" class="carousel slide text-center">
    <div class="carousel-inner">
        <div class="carousel-item active bg-gray">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-12 pt-3 mt-5">
                        <h1 class="text-black">@Model.FirstName @Model.MiddleName @Model.LastName</h1>
                        <br class="z-1">
                        <br class="z-1">
                        <h6 class="text-black">@Model.Age г., @Model.Gender, @Model.IsProfileActive</h6>
                        <br class="z-1">
                        <br class="z-1">
                        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark"><h5>Преглед на информаця</h5></a>
                        <a asp-action="UserPage" asp-route-id="@Model.Id" class="btn btn-dark"><h5>Редакция на информаця</h5></a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Лицензи</h4>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <br>
                <div class="row">
                    <a asp-action="UserLicense" asp-controller="License" asp-route-id="@Model.Id" class="btn btn-white text-start"><b><h7>Преглед / Редакция</h7></b></a>
                    <hr>
                    <a asp-action="AddLicense" asp-controller="License" asp-route-id="@Model.Id" class="btn btn-white text-start"><b><h7>Добавяне</h7></b></a>
                </div>
            </div>
            </div>
        </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Услуги</h4>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <br>
                <div class="row">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-white text-start"><b><h7>Преглед / Редакция</h7></b></a>
                    <hr>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-white text-start"><b><h7>Добавяне</h7></b></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>