@using DigAccess.Models.UserAdministrator
@model List<AnswerViewModel>
@{
    ViewData["Title"] = "Отговори на въпроси";
}

<div class="d-flex d-flex align-items-center">
    <div class="p-2 w-100">
        <h2>Отговори на въпроси</h2>
    </div>
    <form id="searchForm" asp-action="GetAnswersByName">
        <p>
            <div class="input-group">
                <input id="txtInput" type="text" name="name" class="p-2 form-control" placeholder="Търсене" aria-label="Търсене" aria-describedby="basic-addon1">
                <button type="submit" class="btn btn-dark"><h5>⌕</h5></button>
            </div>
        </p>
    </form>
</div>
@{
    if (Model.Count == 0)
    {
        <h4>Няма отговори.</h4>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Заглавие</th>
                    <th>Дата</th>
                    <th>Опции</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model)
                {
                    <tr>
                        <td>@answer.Title</td>
                        <td>@answer.DateTime</td>
                        <td>
                            <div class="p-2 flex-shrink-1">
                                <a asp-action="Details" asp-route-id="@answer.Id" class="btn btn-dark"><h5>Опции</h5></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            <ul class="pagination">
                @if (ViewBag.TotalPages != 1)
                {
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">&lt</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">&gt</a>
                        </li>
                    }

                }
            </ul>
        </div>
    }
}