@model DigAccess.Models.OfficeWorker.UserDetailsViewModel
@{
    ViewData["Title"] = "Добавяне на потребител";
}

<div class="d-flex justify-content-start p-2">
    <a asp-action="Index"> <button class="btn btn-dark mt-2"><h6><</h6></button></a>
    <h2 class="p-2">Детайли</h2>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Информация</h5>
        <p class="card-text">
            <form asp-action="Add" method="post">
                <div>
                    <label for="FirstName">Първо име</label>
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    <input readonly asp-for="FirstName" class="form-control" />
                </div>
                <div>
                    <label for="MiddleName">Бащино име</label>
                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                    <input readonly asp-for="MiddleName" class="form-control" />
                </div>
                <div>
                    <label for="LastName">Фамилия</label>
                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                    <input readonly asp-for="LastName" class="form-control" />
                </div>
                <div>
                    <label for="PersonalId">ЕГН</label>
                    <span asp-validation-for="@Model.PersonalId" class="text-danger"></span>
                    <input readonly asp-for="PersonalId" class="form-control" />
                </div>
                <div>
                    <label for="Gender">Пол</label>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    <input readonly asp-for="Gender" class="form-control" />
                </div>
            </form>
        </p>
    </div>
</div>
@if (Model.BlindUsers.Count > 0)
{
    <br />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Незрящи потребители</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Преглед на незрящите потребители, свързани с този потребител</h6>
            <p class="card-text">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Презиме</th>
                            <th>Фамилия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.BlindUsers)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.MiddleName</td>
                                <td>@user.LastName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>
        </div>
    </div>
}
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Действия</h5>
        <p class="card-text">
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-dark">Изтриване</a>
        </p>
    </div>
</div>


